*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container , form
{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading
{
    font-size: 2rem;
    font-weight: 700;
    margin: 20px auto;
    text-align: center;
}
button
{
    padding: 8px 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    background: #333;
    color: #ffff;
    margin: 10px;
    transition: all 1s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}
#text
{
    width: 325px;
    padding: 8px 10px;
    border: 1px solid #333;
    outline: none;
    border-radius: 4px;
    font-size: 0.75rem;
    color: #333;
    margin: 10px;
    transition: all 0.3s ease;
}
.btns
{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.btns button:hover
{
    background: #ffff;
    color: #333;
    border: 1px solid #333;
}
#change
{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 30px;
}
.clear
{
    padding: 8px 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    background: blueviolet;
    color: #ffff;
    margin-top: 10px;
    transition: all 0.3s ease;

}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

svg {
	font-family: "Poppins", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size:50px;
}
.follow_btn
{
    position: absolute;
    top: 88%;
    padding: 8px 10px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    background: #ffff;
    color: #333;
    border: 1px solid #333;
    margin: 10px;
    transition: all 1s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};
